@import "../variables";
@import "../breakpoints";

.notes-list {
  padding: 0 20px;
  margin: 30px 0;
  width: 100%;

  h2 {
    width: 100%;
    margin: 10px;

    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.52px;
    text-align: left;
  }

  .favorites-list,
  .others-list {
    display: grid;
    justify-content: center;
    gap: 20px;

    .skeleton {
      border-radius: 25px;
    }
  }
}

@include small-screen {
  .notes-list {
    padding: 0 40px;

    h2 {
      margin: 0 auto;
      width: $component-width;
    }
  }
}

@include medium-screen {
  .notes-list {
    padding: 0 40px;

    h2 {
      width: 100%;
      margin: 14px 0;
    }

    .favorites-list,
    .others-list {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(390px, 1fr));
    }
  }
}
