@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

$color-primary: #455a64;
$color-secondary: #333333;
$box-shadow: 0px 1px 7px 0px #95959540;
$box-shadow-secondary: 1.5px 1.5px 2px rgba(0, 0, 0, 0.2);
$component-width: 530.52px;
$font-stack: "Inter", sans-serif;

$icon-orange: #ffa000;

// Note colors
$light-blue: #bae2ff;
$light-green: #b9ffdd;
$yellow: #ffe8ac;
$light-pink: #ffcab9;
$red: #f99494;
$blue: #9dd6ff;
$pink: #eca1ff;
$neon-green: #daff8b;
$orange: #ffa285;
$light-gray: #cdcdcd;
$dark-gray: #979797;
$brown: #a99a7c;
